<h2>Shopping Cart </h2>
{{#each shoppingCart.items as |item|}}
  <li>{{item.title}} -- {{item.cost}}</li>
{{/each}}
<hr>
<button class="btn btn-danger center-block" {{action 'removeAll'}}>Remove All from Cart</button>
<h2>
    total is:{{totalCostShoppingCart}}
</h2>
